<h2> <%= @task.title %></h2>
<hr>
<div>
  <%= @task.details %>
</div>

<hr>

<%= link_to edit_task_path do %>
  <div class="btn btn-default">
    <span class="glyphicon glyphicon-pencil"></span>
    <span>Edit this task</span>
  </div>
<% end %>

<hr>

<%= link_to tasks_path do %>
  <span class="glyphicon glyphicon-menu-left"></span>
  <span>Back to list</span>
<% end %>
